@{
    ViewBag.Title = "Ошибка удаления";
}

<div style="height:60px">
    <h3 style="color:red">Ошибка удаления книги!</h3>
    <hr/>
</div>

<h4>Детальная информация:</h4>


<div style="height:120px">
    <p>Внимание! Данная книга находится "на руках" у читателя.</p>
    <p>Удалять книги находящиеся в пользовании строго запрещено!</p>
    <p>Распоряжение директора библиотеки.</p>

</div>
<p>@Html.ActionLink("Вернутся к каталогу книг", "Index", "Books")</p>