@{
    ViewBag.Title = "О библиотеке";
}

<h3>@ViewBag.Message</h3>

<p>
    Библиотека – одна из древнейших и важнейших основ цивилизации, хранилище ценных знаний и духовной мудрости, национальной памяти,
    культурного и научного наследия многих поколений. Библиотека обладает широким спектром универсальных и профильных периодических изданий,
    энциклопедий, словарей, справочников, учебно-методической документации, литературы о казачестве.
</p>