@{
    ViewBag.Title = "Контакты";
}
<h3>@ViewBag.Message</h3>

<address>
    <a href="https://github.com/mhavryliuk" rel="nofollow" target="_blank">GitHub</a><br />
    <a href="https://www.linkedin.com/in/maksymhavryliuk/" rel="nofollow" target="_blank">LinkedIn</a>
</address>