@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h2>Веб-проект: картотека библиотеки</h2>
    <p class="lead">
        Библиотеки – хранилища памяти человечества, главный источник информации – от древних рукописей до электронных ресурсов.
        Как говорил Д. Лихачев, «библиотеки важнее всего в культуре… пока жива библиотека – жив народ, умрет она – умрет прошлое и будущее».
    </p>
    <p><img src="~/Content/Pictures/book.png" alt="Book"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Каталог книг</h2>
        <p>В данном разделе представлен широкий выбор книг разных жанров и направлений.</p>
        <p class="btn btn-default">@Html.ActionLink("Перейти в раздел »", "Index", "Books")</p>
    </div>
    <div class="col-md-4">
        <h2>Список читателей</h2>
        <p>В данном разделе представлен список всех зарегестрированных читателей нашей библиотеки.</p>
        <p class="btn btn-default">@Html.ActionLink("Перейти в раздел »", "Index", "Users")</p>
    </div>
    <div class="col-md-4">
        <h2>Выданные книги</h2>
        <p>В данном разделе представлена информация о читателях, имеющих на руках одну и более книг.</p>
        <p class="btn btn-default">@Html.ActionLink("Перейти в раздел »", "Index", "Copies")</p>
    </div>
</div>