@{
    ViewBag.Title = "Ошибка удаления";
}

<div style="height:60px">
    <h3 style="color:red">Ошибка удаления пользователя!</h3>
    <hr/>
</div>

    <h4>Детальная информация:</h4>


<div style="height:120px">
    <p>Внимание! Данный читатель не вернул одну или более книг!</p>
    <p>Возможность удаления "должников" из картотеки читателей закрыта.</p>
</div>
<p>@Html.ActionLink("Вернутся к списку пользователей", "Index", "Users")</p>